In [1]:
#veri yapıları inceleme
x = 8
type(x)
y=3.2
type(y)
z=8j+18
type(z)
a="Hello World"
type(a)
b=True
type(b)
c=23<22
type(c)
l=[1,2,3,4]
type(l)
d={"Name":"Jake",
    "Age":27,
    "Address":"Downtown"
}
type(d)
t=("Machine Learning","Data Science")
type(t)
s={"Python","Machine Learning","Data Science"}
type(s)

set

In [2]:
#Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız.
text = "The goal is to turn data into information, and information into insight."

def transform(string):
    new_text = ""
    for i in string:
        if i == "," or i==".":
            new_text += " "
        else:
            new_text += i.upper()
        words  = new_text.split()
    return words

print(transform(text))

['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFORMATION', 'AND', 'INFORMATION', 'INTO', 'INSIGHT']

In [3]:
#adımları uygulayın
lst = ["D","A","T","A","S","C","I","E","N","C","E"]
#eleman sayısına bakma
num_of_elements = len(lst)
#ilk ve son elemanları çağırma
first_element = lst[0]
last_element = lst[-1]
#liste üzerinden ['D','A','T','A'] listesi oluşturma
def data_list_create(list):
    data_list = []
    for i in list:
        if i == "D" or i == "A" or i == "T" or i == "A":
            data_list.append(i)
    return data_list
#8. index elemanını silme
lst.remove(lst[8])
#yeni eleman ekleme
lst.append("B")
#silinen elemanı tekrar ekleme
lst.insert(8,"N")

In [4]:
#dictionary kullanımı
dict = {"Christian": ["America",18],
        "Daisy": ["England",12],
        "Antonio": ["Spain",22],
        "Dante": ["Italy",25]        
        }
#key değerlerini yazdır
key_deger = dict.keys()
#value değerlerini yazdır
value_deger = dict.values()

#value değeri güncelle
dict["Daisy"] = ["England",13]
#yeni key-value ekle
dict["Ahmet"] = ["Turkey",24]
#element sil
del dict["Antonio"]

In [5]:
#Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri return eden fonksiyon yazınız.

def tek_cift_ayir(list):
    tek_list = []
    cift_list = []
    for i in list: 
        if i % 2 == 1 : 
            tek_list.append(i)
        else:
            cift_list.append(i)
    return(tek_list,cift_list)

l = [2,13,18,93,22]
print(tek_cift_ayir(l))

([13, 93], [2, 18, 22])

In [6]:
#Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır. Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de  tıp fakültesi öğrenci sırasına aittir. Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız

ogrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]

for i, deger in enumerate(ogrenciler,start=1) : 
    if i>3 :
        print("Tıp Fakültesi", i, ". öğrenci: ", deger)
    else:
        print("Mühendislik Fakültesi", i, ". öğrenci: ", deger)

Mühendislik Fakültesi 1 . öğrenci:  Ali
Mühendislik Fakültesi 2 . öğrenci:  Veli
Mühendislik Fakültesi 3 . öğrenci:  Ayşe
Tıp Fakültesi 4 . öğrenci:  Talat
Tıp Fakültesi 5 . öğrenci:  Zeynep
Tıp Fakültesi 6 . öğrenci:  Ece

In [7]:
#Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders bilgilerini bastırınız.

ders_kodu = ["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]

for i1,j1,k1 in zip(ders_kodu,kredi,kontenjan):
    print("Kredisi " + str(j1) + " olan " + i1 + " kodlu dersin kontenjanı " + str(k1) + " kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

In [8]:
# Aşağıda 2 adet set verilmiştir. Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.

kume1 = set(["data","python"])
kume2 = set(["data","function","qcut","lambda", "python","miuul"])

if kume1.issuperset(kume2):
    kesisim = kume2.intersection(kume1) 
    print(kesisim)
else: 
    fark = kume2.difference(kume1) 
    print(fark)

{'miuul', 'lambda', 'function', 'qcut'}